extends ../layouts/layout.pug

block content
	h3.mr-3 Products
	a.btn.btn-primary.mb-2(href="/products/create") Add new product
	d-flex.align-item-center
		form.ml-auto(method="GET" class="d-flex", style="width: 50%")
			input(type="text", name="q", class="form-control mr-3")
			button(class="btn btn-success ml-2") search

	.row
		each product in productList
			.col-4.col-md-3.mb-4
				.card.h-100(style='width: 100%;')
					img.card-img-top(src=product.image)
					.card-body
						h5.card-title= product.name
						p.card-text= product.description
						a.btn.btn-primary(href='/cart/add/' + product.id) Add to cart

	nav(aria-label='...')
		ul.pagination.justify-content-center
			if (page <= "2") 
				li.page-item.disabled
					span.page-link Previous
			else
				li.page-item
					a.page-link(href='/products?page=' + prevPage) Previous	
			if (page >= "2")			
				li.page-item
					a.page-link(href='/products?page=' + prevPage) #{prevPage}
			li.page-item.active(aria-current='page')
				span.page-link #{page}
					span.sr-only (current)
			li.page-item
				a.page-link(href='/products?page=' + nextPage) #{nextPage}
			li.page-item
				a.page-link(href='/products?page=' + nextPage) Next					